<div class="faq-square">
<h1>How HopeLauncher Works</h1>

<br/><br/>
<h2>Our Simple Formula</h2>
<p>HopeLauncher is a new form of nonprofit patronage. In our world, the best way to inspire support is to increase the ability of people to stay connected and contribute. By providing an easy and convenient marketing and online fundraising platform for nonprofits, HopeLauncher hopes to allow nonprofits to spend more time on their core activities of fulfilling their mandates.</p>
 <br/><br/>
<h2>Why is HopeLauncher funding all-or-nothing?</h2>
<p>On HopeLauncher, a project must reach its funding goal before time runs out or no money changes hands. Why? It protects everyone involved. This way, no one is expected to develop a project with an insufficient budget, which sucks. Remember you set your own funding goal, so aim to raise the minimum amount you'll need to create your vision. Projects can always raise more than their goal, and often do.</p>
 <br/><br/>
<h2>What fees does HopeLauncher charge?</h2>
<p>HopeLauncher collects a 5% fee from the project's funding total if a project is successfully funded. This is inclusive of all payment processing and other associates fees. If funding is not successful, no fees are charged.</p>
 <br/><br/>
<h2>Nonprofit projects only</h2>
<p>HopeLauncher cannot be used to fund for-profit projects or causes. While there are countless causes worthy of support outside of the nonprofit sector, we aim to create a place dedicated to helping nonprofit organizations do good for their communities.</p>
 <br/><br/>
<h2>Where does the money come from?</h2>
<p>Each month millions of people visit HopeLauncher to discover great projects, but momentum always starts with people you know. Who? Your friends and fans, and the people in the on- and off-line communities that you're a part of. If they like it, they’ll help spread it to their friends and fans, and so on and so on. A good idea, communicated well, can spread fast and wide.</p>
<br/><br/>
<h2>How much should I ask for?</h2>
<p>The average project is raising around $5,000, but many projects have raised significantly more. The key is understanding your reach. Think about your network and how your project goals and needs might appeal to them.</p>
<br/><br/>
<h2>Can I raise more than my project’s goal?</h2>
<p>Yep. There's no limit to how much you can raise — projects continue to accept pledges until time runs out.</p>
<br/><br/>
<h2>I'd like to use HopeLauncher to get my project out there, but I don't really need money. Is that okay?</h2>
<p>Absolutely. HopeLauncher is about more than just money. A HopeLauncher project is a great way to connect with your audience and spread the word about your work.</p>
<br/><br/>
<h2>Can HopeLauncher be used to solicit investment or loans?</h2>
<p>Nope. HopeLauncher is not a place for investment or lending. You’ll never give up ownership or pay back any funds raised on HopeLauncher. Ever.</p>
<br/><br/>
<h2>My ideas aren’t “big and important.” Is HopeLauncher for my organization?</h2>
<p>Absolutely! HopeLauncher is for nonprofit projects big and small, no matter how established or experimental. Small projects that one person from your organization can do over a weekend are perfect for HopeLauncher.</p>
 <br/><br/>
<h2>What kind of projects do well on HopeLauncher? What’s the secret?</h2>
<p>Audiences respond to passion, sincerity, and an ability to execute. They want to see you communicate this in your project post, and they want you offer project goals that are reasonable and justified.</p>
<br/><br/>
<h2>How do I start a project?</h2>
<p>Click the big “Start Your Project”  button (above)! When you've put your project together and are ready to launch, you'll submit it to HopeLauncher staff for review. It shouldn't take us more than a couple days to get back to you — we're not screening for taste at all, we only take this step to ensure that your project meets our guidelines.</p>
 <br/><br/>
<h2>Does it cost money to start a project?</h2>
<p>Not at all. Starting a project is free.</p>
 <br/><br/>
<h2>Am I eligible to start a HopeLauncher project?</h2>
<p>If you are a local non-profit based in Michigan, then you are eligible to start a HopeLauncher project.</p><br/><br/>
</div>