<style>

  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 60px;
    width: 100%;
  }

  .carousel .container {
    position: relative;
    z-index: 9;
  }

  .carousel-inner {
    width: 100%;
  }

  .carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.54);
    position: static;
    max-width: 550px;
    padding: 25px;
    margin-top: 130px;
    border-radius: 15px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }



  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .span4 {
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
    display: none
  }
  .featurette {
    background-color: white;
    margin: 0 15px;
    padding:40px;
    border-radius:40px;
    border-left: 2px solid green;
    border-right: 2px solid green;
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
  }

  .featurette:last-of-type {
    border-bottom: 2px solid green;
  }


  .featurette:nth-of-type(2) {
    border-top: 2px solid green;
    margin-top: 20px;
  }

  .featurette-image {
    margin-top: -40px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    /*float:none;*/
    max-width: 33%;
  }

  /* Give some space on the sides of the floated elements so text doesn't run right into it. */
  .featurette-image.pull-left {
    margin-right: 40px;
  }
  .featurette-image.pull-right {
    margin-left: 40px;
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }



  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 979px) {

    .container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      width: auto;
      height: 500px;
    }

    .featurette {
      height: auto;
      padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
      display: block;
      float: none;
      max-width: 40%;
      margin: 0 auto 20px;
    }
  }


  @media (max-width: 767px) {

    .navbar-inner {
      margin: -20px;
    }

    .carousel {
      margin-left: -20px;
      margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
      height: 300px;
    }
    .carousel img {
      height: 300px;
    }
    .carousel-caption {
      width: 65%;
      padding: 0 70px;
      margin-top: 100px;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 18px;
    }

    .marketing .span4 + .span4 {
      margin-top: 40px;
    }

    .featurette-heading {
      font-size: 30px;
    }
    .featurette .lead {
      font-size: 18px;
      line-height: 1.5;
    }

  }
  </style>
</head>
     <!-- Carousel
  ================================================== -->
  <div id="introCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://i.imgur.com/rhBwoI7.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>HopeLauncher</h1>
            <p class="lead">Easy-to-use fundraising for the 21<super>st</super> Century.</p>
            <a class="btn btn-large btn-primary" href="<%=faq_path %>">How We Work</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container-fluid marketing">

    <!-- Three columns of text below the carousel -->
    <!-- <div class="row">
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    </div> -->
    <div style="width:1030px;margin-left:auto;margin-right:auto;">
      <% Project.where(:project_state => 'admin_approved').limit(4).each do |project| %>
        <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
      <% end %>
    </div>


    <!-- START THE FEATURETTES -->

  <!--   <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="assets/photos/crab_nebula.jpg">
      <h2 class="featurette-heading">HopeLauncher: A new way to fund nonprofit projects.</h2>
      <p class="lead">Currently serving only Michigan-based nonprofits, HopeLauncher was made to change how nonprofits fundraise online. By creating an easy-to-use, accessible, and cheaper online fundraising and marketing platform we hope to allow nonprofits of all sizes and sorts to make their hopes and dreams come true!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-left" src="assets/photos/cygnus-loop-nebula.jpg">
      <h2 class="featurette-heading">Your Vision – Your Choice</h2>
      <p class="lead">Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on HopeLauncher is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image pull-right" src="assets/photos/horsehead.jpg">
      <h2 class="featurette-heading">Backing a project is more than just giving someone money</h2>
      <p class="lead">It’s about supporting someone’s hopes and also receiving information and transparency in turn. An organization’s members rally around its projects, friends support their friends’ projects, and many others simply come to HopeLauncher to contribute to charitable endeavors which appeal to them.</p>
    </div> -->

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
<br/><br/><br/>
  </div>


  <div id="portraits">
    <h1>How Fundraising on Hopelauncher Works</h1><br/><br/>
    <div class="portrait" style="margin-left:15%">
        <div>
          <img src="/assets/start_fundraiser.png"></img><br/>
        </div><br/>
        <h4>Start a Fundraiser</h4>
      <p>Creating a HopeLauncher fundraising page is easy. Just tell us your nonprofit's story, add a few pictures and hit publish!</p>
    </div>
    <div class="portrait" style="margin-left:5%; margin-right:5%;">
      <div>
          <img src="/assets/share_page.png"></img><br/>
      </div><br/>
      <h4>Share your Fundraising Page</h4>
      <p>Share your page with friends &amp; family using email, Facebook or other social media.</p>
    </div>
    <div class="portrait" style="margin-right:14%">
      <div>
        <img src="/assets/collect_pledges.png"></img><br/>
      </div><br/>
      <h4>Collect Pledges &amp; Build Awareness</h4>
      <p>Once the fundraiser is complete, we'll send you a check or transfer the funds via Stripe. Successful projects stay up to help showcase the fundraising and future accomplishments.</p>
    </div>
  </div>
<br/><br/><br/><br/>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 offset2">
        <div class="feature" style="background-color:#44ba8e;">
          <h5>Low Fees</h5>
          <hr/>
          <p>We are completely transparent about our fees and what they go towards. In addition, our fees are lower on average than other crowdfunding sites. </p>
        </div>
      </div>
      <div class="span2">
        <div class="feature" style="background-color:#d8b928;">
          <h5>Payment Security</h5>
          <hr/>
          <p>There’s no need to worry when creating or donating to a fundraiser. We use encryption at multiple levels of our technology to ensure a safe and secure process for you and contributors.</p>
        </div>
      </div>
      <div class="span2">
        <div class="feature" style="background-color:#f0a01f;">
          <h5>Personal Coaching</h5>
          <hr/>
          <p>You’re not alone. A real live person (not a robot) can give you the one-on-one support you need, right from our location in Ann Arbor. Contact us by phone or email!</p>
        </div>
      </div>
      <div class="span2">
        <div class="feature" style="background-color:#f07522;">
          <h5>Tell Your Story</h5>
          <hr/>
          <p>It’s easy to keep friends and family up-to-date, all in one place. Your fundraising page is your blog, your support and your way to change someone’s world!</p>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div style="display:inline-block; width:17%; margin:0% 2% 0% 7%; border:1px solid black;">
  </div>
  <div style="display:inline-block; width:17%; margin:0 2%; border:1px solid black;">
  </div>
  <div style="display:inline-block; width:17%; margin:0 2%; border:1px solid black;">
  </div>
  <div style="display:inline-block; width:16%; margin:0% 7% 0% 2%; border:1px solid black;">
  </div> -->

  <br/><br/>
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Company, Inc. &middot; <%= link_to 'Privacy', privacy_policy_path %> &middot; <%= link_to 'Terms', terms_of_service_path %></p>
    </footer>
  <!-- /.container -->