<div class="container-fluid" style="background-color:white; padding:30px; margin:30px;">
  <p>
    <strong>Terms of Service</strong>
</p>
<p>
    <strong>Agreement between User and HopeLauncher.com</strong>
</p>
<p>
    HopeLauncher.com Web Site is comprised of various Web pages operated by HopeLauncher.com and Web pages set up by registered Users with HopeLauncher.com.
    HopeLauncher.com shall have registered Users of its Web Site (fundraisers) and visitors to its Web Site (donors), both collectively referred to hereunder
    as Users. HopeLauncher.com Web Site is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained
    herein. Your use of HopeLauncher.com Web Site constitutes your agreement to all such terms, conditions, and notices.
</p>
<p>
    <strong>Modification of these Terms of Use</strong>
</p>
<p>
    HopeLauncher.com reserves the right to change the terms, conditions, and notices under which HopeLauncher.com Web Site is offered.
</p>
<p>
    <strong>HopeLauncher.com Services</strong>
</p>
<p>
    As set forth herein, HopeLauncher.com shall provide the following services (“Services”) to Users of the Web Site:
</p>
<p>
    HopeLauncher.com shall comply with its Security Policy and Statement of Privacy Policy.
</p>
<p>
    HopeLauncher.com shall process and collect donations made by donors on web pages set up by registered Users of the Website, depositing such donations into
    a Stripe account created by the user. Such payment shall be less HopeLauncher.com’s service fee of 5.0 % of the online donation made at the registered
    User’s web page. This service fee is inclusive of bank and credit card processing fees. HopeLauncher.com’s service fee and timing is subject to change at
    HopeLauncher.com’s sole discretion, with any such change taking effect for donations made post change.
</p>
<p>
    HopeLauncher.com shall email a thank you acknowledgment and receipt to donors on behalf of the registered User.
</p>
<p>
    <strong>Registered Users</strong>
</p>
<p>
    Users of HopeLauncher.com’s Web Site who wish to set up a web page for donations shall first complete the online registration process setting up an account
    and then create their web page. As part of the registration process Users will be required to provide their, name, organization name, address, email
    address and other contact information. HopeLauncher.com shall complete a verification procedure regarding the User’s registration. Once the verification
    process is complete, the registered User shall have access to password protected secure areas of the Web Site. The registered User is responsible for safe
    guarding User’s password.
</p>
<p>
    <strong>Donations</strong>
</p>
<p>
    Donations made to registered Users shall be paid online through Stripe by donors via credit card payments. HopeLauncher.com’s service fee shall be deducted
    from the donation at the time of the donation. HopeLauncher.com shall remit payment to registered User by the 15th of the month following the month
    donations are made. User of the Web Site shall be solely responsible for payment of User’s taxes, including payment of applicable federal, state and taxes.
    Once made donations are non-refundable and are considered unrestricted gifts without restriction as to how the fundraiser may use such funds. The User is
    solely responsible for electing the fundraiser User wishes to donate to.
</p>
<p>
    <strong>No unlawful or prohibited use</strong>
</p>
<p>
    As a condition of your use of HopeLauncher.com Web Site, you warrant to HopeLauncher.com that you will not use HopeLauncher.com Web Site for any purpose
    that is unlawful or prohibited by these terms, conditions, and notices. You may not use HopeLauncher.com Web Site in any manner which could damage,
    disable, overburden, or impair HopeLauncher.com Web Site or interfere with any other party's use and enjoyment of HopeLauncher.com Web Site. You may not
    obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through HopeLauncher.com Web
    Site.
</p>
<p>
    <strong>User Rules</strong>
</p>
<ul>
  <li>
    In order to maintain an informative and valuable service that meets the needs of the viewers and avoids harm to others, it is necessary to establish and/or
    you to follow these User Rules. The views, ideas or expression posted by Users are not necessarily that of HopeLauncher.com. By way of example, and not as
    a limitation, User agrees that when using a Web Site, User shall not:
  </li>
<li>
    Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others. Users may not post or
    transmit any message that is libelous or defamatory, or violates any other person's copyrights, privacy rights, trademarks, trade secrets, or rights in
    other confidential information. The user agrees to indemnify and hold harmless HOPELAUNCHER.COM from any and all damages suffered by third parties as a
    result of the User's violation of this term.
</li>
<li>
    Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material
    or information. Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless
    you own or control the rights thereto or have received all necessary consents.
</li>
<li>
    Upload files that contain viruses, worms, Trojan horses, corrupted files, or any other similar software or programs that may damage the operation of
    another's computer. Interfere with other users' use of the HOPELAUNCHER.COM Web site, including, without limitation, disrupting the normal flow or use of
    the service.
</li>
<li>
    Download any file posted by another user of a Web Site that you know, or reasonably should know, cannot be legally distributed in such manner.
</li>
<li>
    Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or
    other material contained in a file that is uploaded.
</li>
<li>
    Harvest or otherwise collect information about others, including e-mail addresses, without their consent.
</li>
<li>
    It is not the intent to discourage users from taking controversial positions or expressing vigorously what may be unpopular views; however,
    HOPELAUNCHER.COM reserves the right to take such action as it deems appropriate in cases where the HOPELAUNCHER.COM Web site is inappropriately used to
    disseminate statements or materials that are reasonably construed as abusive, destructive, harmful, or threatening to the safety of others.
</li>

    <li>
        Violate any applicable laws or regulations.
    </li>
</ul>
<p>
    HopeLauncher.com reserves the right to review materials posted to the Web Site and to remove any materials in its sole discretion. HopeLauncher.com
    reserves the right to terminate your access to any or all of the Web Site at any time without notice for any reason whatsoever.
</p>
<p>
    HopeLauncher.com reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or
    governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in HopeLauncher.com's sole discretion.
</p>
<p>
    Materials uploaded to the Web Site may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to
    such limitations if you download the materials.
</p>
<p>
    Materials provided to HopeLauncher.com or posted at HopeLauncher.com web site
</p>
<p>
    HopeLauncher.com does not claim ownership of the materials you provide to HopeLauncher.com (including feedback and suggestions) or post, upload, input or
    submit to HopeLauncher.com Web Site or its associated services (collectively "Submissions"). However, by posting, uploading, inputting, providing or
    submitting your Submission you are granting HopeLauncher.com, and necessary sub licensees permission to use your Submission in connection with the
    operation of HopeLauncher.com Web Site including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform,
    reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.
</p>
<p>
    No compensation will be paid with respect to the use of your Submission, as provided herein. HopeLauncher.com is under no obligation to post or use any
    Submission you may provide and may remove any Submission at any time in HopeLauncher.com's sole discretion.
</p>
<p>
    By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to
    your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the
    Submissions.
</p>
<p>
    <strong>Limited Warranties &amp; Liability Disclaimer</strong>
</p>
<p>
    HOPELAUNCHER.COM ASSUMES NO LIABILITY FOR ANY DECISION MADE, OR ACTION TAKEN IN RELIANCE UPON INFORMATION CONTAINED IN THE HOPELAUNCHER.COM WEB SITE OR ANY
    OTHER INTERNET SITE LINKED TO IT IN ANY WAY. HOPELAUNCHER.COM DOES NOT ASSUME ANY RESPONSIBILITY OR RISK FOR YOUR USE OF THE HOPELAUNCHER.COM WEB SITE OR
    THE INTERNET.
</p>
<p>
    FURTHERMORE, HOPELAUNCHER.COM WEBSITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, AND EXCEPT
    AS PROVIDED BELOW, HOPELAUNCHER.COM EXPRESSLY DISCLAIMS ALL WARRANTIES, REPRESENTATIONS, OR ENDORSEMENTS WHATSOEVER IN CONNECTION WITH THE HOPELAUNCHER.COM
    WEB SITE, AND PRODUCTS CONTAINED THEREIN, OTHER WEB SITES ACCESSED BY "HYPERLINK," OR THE INTERNET GENERALLY OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
    (INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE). You understand that, except for information,
    products, or services clearly identified as being supplied by HOPELAUNCHER.COM, HOPELAUNCHER.COM does not review, operate, or control any material,
    information, products or services on the Internet, including electronic transmissions from Users or materials connected to the HOPELAUNCHER.COM Web site
    through "hyperlink", in any way.
</p>
<p>
    WITHOUT LIMITING THE FOREGOING, HOPELAUNCHER.COM MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND, EXPRESS OR IMPLIED: (I) AS TO THE OPERATION OF THE
    HOPELAUNCHER.COM WEBSITE, OR THE INFORMATION, CONTENT OR MATERIALS INCLUDED THEREON; (II) THAT THE HOPELAUNCHER.COM WEBSITE WILL BE UNINTERRUPTED OR
    ERROR-FREE; (III) AS TO THE ACCURACY, RELIABILITY, OR CURRENCY OF ANY INFORMATION, CONTENT, SERVICE, OR MERCHANDISE PROVIDED THROUGH THE HOPELAUNCHER.COM
    WEBSITE; OR (IV) THAT THE HOPELAUNCHER.COM WEBSITE, ITS SERVERS, OR E-MAIL SENT FROM OR ON BEHALF OF HOPELAUNCHER.COM ARE FREE OF VIRUSES OR OTHER HARMFUL
    COMPONENTS. HOPELAUNCHER.COM MAKES NO REPRESENTATION AS TO WHETHER ALL OR ANY PORTION DONATIONS MADE ONLINE AT HOPELAUNCHER.COM ARE TAX DEDUCTIBLE.
    HOPELAUNCHER.COM MAKEs NO REPRESENTATION OR WARRANTY, NOR SHALL HOPELAUNCHER.COM BEAR ANY RESPONSIBILITY OR LIABILITY CONCERNING THE FEDERAL, STATE OR
    LOCALTAX CONSEQUENCES ARISING FROM USERS USE OF THE WEB SITE.
</p>
<p>
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL HOPELAUNCHER.COM AND/OR ITS AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT
    OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF HOPELAUNCHER.COM WEB SITE, WITH THE DELAY OR INABILITY TO USE HOPELAUNCHER.COM WEB SITE OR
    RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED
    THROUGH HOPELAUNCHER.COM WEB SITE, OR OTHERWISE ARISING OUT OF THE USE OF HOPELAUNCHER.COM WEB SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT
    LIABILITY OR OTHERWISE, EVEN IF HOPELAUNCHER.COM OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. IF YOU ARE DISSATISFIED WITH ANY
    PORTION OF HOPELAUNCHER.COM WEB SITE, OR WITH ANY OF THESE TERMS AND CONDITIONS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING HOPELAUNCHER.COM
    WEB SITE.
</p>
<p>
    CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO A USER, SOME OR
    ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO SUCH USER, AND SUCH USER MAY HAVE ADDITIONAL RIGHTS.
</p>
<p>
    <strong>Indemnification</strong>
</p>
<p>
    HopeLauncher.com shall indemnify, defend and hold harmless User and (if applicable) User’s officers, directors, employees and agents from and against all
    claims by a third party for losses arising out of, based upon or in connection with (1) any actual or alleged infringement of any patent, copyright,
    trademark or similar property right or (2) any violation of law arising out of the Fundraise services herein described User shall indemnify, defend and
    hold harmless HopeLauncher.com and its officers, directors, employees, agents and clients from and against any and all liabilities, losses, damages costs
    and expenses (including, without limitation, attorneys’ fees, costs, and disbursements) , based upon or in connection with the acts or omissions of User,
    its employees, agents, contractors and other personnel, including, without limitation: (a) any actual or alleged infringement of any patent, copyright,
    trademark or similar property right arising from the content of User’s web page; (b) a violation of law; and (c) libel, slander, defamation, invasion of
    privacy, fraud or misrepresentation.
</p>
<p>
    Promptly after receipt of any written claim or notice of any action giving rise to a claim for indemnification a party seeking to be indemnified
    (“Indemnitee”) shall so notify the other party (“Indemnitor”) and shall provide copies of such claim or any documents relating to the action. Failure to
    notify Indemnitor will not relieve the Indemnitor of its obligations under this Agreement, except to the extent that the failure or delay is materially
    prejudicial to Indemnitor’s defense of such claim.
</p>
<p>
    Indemnitor shall have sole control over the defense and settlement of such claim; provided, however, that (a) Indemnitee shall be entitled to participate
    in the defense of such claim and to employ counsel at its own expense to assist in the handling of such claim and (b) Indemnitor shall obtain the prior
    written approval of Indemnitee before entering into any settlement of such claim or ceasing to defend against such claim.
</p>
<p>
    This section shall survive any termination of Services hereunder.
</p>
<p>
    <strong>Waiver of responsibility for defective or contaminated materials</strong>
</p>
<p>
    Although HopeLauncher.com makes every effort to ensure the correctness of data, HopeLauncher.com disclaims responsibility for any errors or omissions, such
    as unintended technical inaccuracies or typographical errors, in the materials. You also understand that HopeLauncher.com cannot and does not guarantee or
    warrant that files available for downloading through the service will be free of "infection" or "viruses," "worms," "Trojan horses" or other code that
    manifest contaminating or destructive properties. Users are responsible for implementing sufficient procedures and checkpoints to satisfy their particular
    requirements for accuracy of data input and output, and for maintaining a means external to the HopeLauncher.com Web site for the reconstruction of any
    lost data. Use of the HopeLauncher.com Web site and the Internet generally is at the User's own risk.
</p>
<p>
    <strong>Links to third party sites</strong>
</p>
<p>
    HopeLauncher.com Web Site contains links to other Web Sites ("Linked Sites"). The Linked Sites are not under the control of HopeLauncher.com and
    HopeLauncher.com is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes
    or updates to a Linked Site. HopeLauncher.com is not responsible for webcasting or any other form of transmission received from any Linked Site.
    HopeLauncher.com is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by HopeLauncher.com of the
    site or any association with its operators.
</p>
<p>
    <strong>Force Majeure</strong>
</p>
<p>
    Neither party shall be liable for failure or delay in performance of its obligations under this Agreement when such failure or delay is caused by an act of
    God, a flood, a hurricane, extreme weather, fire, or other natural calamity, an act of a governmental agency, terrorism, internet outage or similar causes
    beyond the control of such party. If for any of the reasons set forth above either party shall be unable to perform any obligation when due, such party
    shall immediately notify the other party of such inability and of the period over which such inability is expected to continue. Affected obligations of the
    parties shall be temporarily suspended during the period of Force Majeure and the time for performance under this Agreement shall, as applicable, be
    extended by the duration of any such period; provided, however, that if the delay continues for a period of 15 days or more, either party may terminate
    this Agreement by written notice to the other.
</p>
<p>
    <strong>General</strong>
</p>
<p>
    To the maximum extent permitted by law, this agreement is governed by the laws of the State of Michigan, U.S.A. and you hereby consent to the exclusive
    jurisdiction and venue of the state courts in Washtenaw County, Michigan, U.S.A. and of the United States of America located in the State of Michigan in
    all disputes arising out of or relating to the use of HopeLauncher.com Web Site. Use of HopeLauncher.com Web Site is unauthorized in any jurisdiction that
    does not give effect to all provisions of these terms and conditions, including without limitation this paragraph. You agree that no joint venture,
    partnership, employment, or agency relationship exists between you and HopeLauncher.com as a result of this agreement or use of HopeLauncher.com Web Site.
    HopeLauncher.com's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of
    HopeLauncher.com's right to comply with governmental, court and law enforcement requests or requirements relating to your use of HopeLauncher.com Web Site
    or information provided to or gathered by HopeLauncher.com with respect to such use. If any part of this agreement is determined to be invalid or
    unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the
    invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original
    provision and the remainder of the agreement shall continue in effect. Unless otherwise specified herein, this agreement constitutes the entire agreement
    between the user and HopeLauncher.com with respect to HopeLauncher.com Web Site and it supersedes all prior or contemporaneous communications and
    proposals, whether electronic, oral or written, between the user and HopeLauncher.com with respect to HopeLauncher.com Web Site. A printed version of this
    agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement
    to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is
    the express wish of the parties that this agreement and all related documents be drawn up in English.
</p>
<p>
    <strong>Copyright and trademark notices</strong>
</p>
<p>
    All contents of HopeLauncher.com Web Site are: Copyright 2013 by HopeLauncher.com, Inc. and/or its suppliers. All rights reserved. The names of actual
    companies and products mentioned herein may be the trademarks of their respective owners. The example companies, organizations, products, people and events
    depicted herein are fictitious. No association with any real company, organization, product, person, or event is intended or should be inferred. Any rights
    not expressly granted herein are reserved.
</p>
<p>
    <strong>Notices and procedure for making claims of copyright infringement</strong>
</p>
<p>
    Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement under United States copyright law should be
    sent to Service Provider's Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL RECEIVE NO RESPONSE.
</p>
</div>