<p style="border:1px solid #777; border-radius:4px; width:50%; padding:10px;">
	<%= link_to 'edit', edit_project_block_path(@project, block)  , style:"float:right" %>
	<br/>
	<%= block.content %>
	<br/><br/>
</p>