<h1 style="text-align:center">Listing projects</h1>
<br />
<div class="row-fluid">
	<!-- new project -->
	<div class="project-partial" style="border: 1px #BBB solid; border-radius:4px; padding:5px;">
		<%= link_to new_project_path, class:"hover-glyph" do %>
			<div class="thumbnail" style="background-image:url('https://s3.amazonaws.com/Hopelauncher-Test/spaceship.png')" >
				<!-- <a class="hover-glyph" > --><i class="h-icon-plus" style="font-size: 78px; text-align:center; line-height:200%;"></i><!-- </a> -->
			</div>
			<div class="caption" style="text-align:center;">
				<h4>Create New Project</h4>
			</div>
			<p class="desc"></p>
			<br/>
			<!-- <span class="label label-info" style="text-align:left"><%#= project.percent_funded %>% Funded</span><br /><br /> -->
			<div class="progress progress-striped progress-success">
			  <div class="bar" style="width: 25%;"></div>
			</div>
			<div class="status" style="text-align: center">
				<div class="funded">
					<b> -- %</b><br/>
					<span class="muted small">Funded</span>
				</div>
				<div class="collected">
					<b>$ --</b><br/>
					<span class="muted small">Pledged</span>
				</div>
				<div class="countdown">
					<b>Seize</b><br/> <span class="muted small"> the day.</span>
				</div>
			</div>
		<% end %>
	</div>
	<!-- end new-project -->
<% @projects.each_with_index do |project,index| %>
    <%= render :partial => '/projects/thumbnail.html.erb', :locals => {:project => project} %>
<% end %>
</div>
<br />

<%= link_to 'New Project', new_project_path %>
