<!DOCTYPE html>
<html>
	<body>
	<div style="background-color: #EFE">
		<h1 style="font-size: 45px;font-weight: 400;text-align: center;"><span style="color:#777;">Hope</span><span style="color: #7D7">launcher</span></h1>
		<br/>
 		 <%= raw @message.body %>
	</div>
	</body>
</html>