
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jQuery-File-Upload-master/jquery.fileupload-ui.css
 *= require jQuery-File-Upload-master/style.css
 *= require_tree .
 */

//jquery file upload noscript css removed
body {
	padding-top:60px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-repeat: repeat;
}

.thumbnail {
	img {
		height:230px;
		//height:200px;
	}
}

.project-partial {
	text-align: center;
	.partial {
		height:75px;
	}
	p.desc {
		height: 90px;
	}
}

//a.btn:visited {
//	color:#EEE;
//}

#holder {
	height:480px;
	width:640px;
}

//tinymce css
.mce-image-plugin-class {
	.mce-menu-item {
		padding: 0;
		background: whitesmoke;
		color: black;
		.mce-text {
			width: 150px;
			text-align: left;
			position: relative;
			left: 160px;
		}
		.mce-ico {
			padding:0;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			//border: 1px solid #666;
			height:100px;
			width:100px;
			display: block;
		}
	}
}

//carousel customization

#myCarousel {
	.carousel {
		width: 600px;
		margin: 0 auto;
	}
	.carousel-inner {
		background-color: black;
	}

	.carousel-inner .item{ 
		height: 350px;
		width: 600px;
		img {
			height: 350px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}