
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jQuery-File-Upload-master/jquery.fileupload-ui.css
 *= require jQuery-File-Upload-master/style.css
 *= require_tree .
 */

//jquery file upload noscript css removed
body {
	padding-top:60px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	//background-image:url('honeycomb.png');
	background-image:url('honeycomb_from_vector.png');
	//background-image:url('http://i.imgur.com/nQFZ6ZN.png');
	//background-image:url('hexagonbackgroundlightgreen01.png');
	//background-image: url('http://i.imgur.com/78jveJc.png');
	background-repeat: repeat;
}


.faq-square {
	background-color: white;
	padding: 30px;
	border: 4px solid #69CA0F;
	border-radius: 4px;
}

//a.btn:visited {
//	color:#EEE;
//}

#holder {
	height:480px;
	width:640px;
}

//tinymce css
.mce-image-plugin-class {
	.mce-menu-item {
		padding: 0;
		background: whitesmoke;
		color: black;
		.mce-text {
			width: 150px;
			text-align: left;
			position: relative;
			left: 160px;
		}
		.mce-ico {
			padding:0;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			//border: 1px solid #666;
			height:100px;
			width:100px;
			display: block;
		}
	}
}

