
.msg-subject, .msg-recipients, .msg-preview, .blue {
	border-radius:4px;
	border: 1px solid #AAA;
	padding: 10px;
	text-align: center;
	//line-height:200%;
	display: inline;
	margin-left: 0px !important;
	margin-right: 0px !important;
	//height: 100%;
	div {
		width: 240px;
		display:inline-block;
	}
}

.msg-subject {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.msg-recipients {
	border-radius: 0px;
	//border-right-width:0px;
	//border-left-width:0px;
}
.msg-preview {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


.blue { background-color:#E0E0FF }

.accordion a {
	text-decoration: none;
	color: #555;
}


.accordion .msg-subject,
.accordion .msg-recipients,
.accordion .msg-preview {
	//height: 70px;
	overflow: hidden;
}

.accordion-group {
	border: none;
}
.accordion-inner {
	border: 1px #AAA solid;
	margin: 5px 14px 5px 0px;
}

#accordion1 * {
    vertical-align:middle;  // Align children to middle of line
}

.conv-list a {
	text-decoration: none;
}
.conv-list * {
    vertical-align:middle;  // Align children to middle of line
}


.conv-subject, .conv-recipients, .conv-sender, .blue {
	border-radius:4px;
	border: 1px solid #AAA;
	text-align: center;
	//line-height:200%;
	display: inline-block;
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 100%;
}

.mailbox td, .mailbox th 	{
	text-align:center;
	vertical-align: middle;
}


td.project_conversation {
	padding: 0px 0px 8px 0px;
}

.conv-sender {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 12%;
}

.conv-recipients {
	border-radius: 0px;
	width: 30%;
}

.conv-subject {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	//border-right-width:0px;
	//border-left-width:0px;
	width: 50%;
}
