
.msg-subject, .msg-recipients, .msg-preview, .blue {
	border-radius:4px;
	border: 1px solid #AAA;
	text-align: center;
	line-height:200%;
	display: inline-block;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.msg-subject {
	background-color:#D3D3D3;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 12%;
}

.msg-recipients {
	background-color:#C5E4C1;
	border-radius: 0px;
	//border-right-width:0px;
	//border-left-width:0px;
	width: 16%;
}
.msg-preview {
	background-color:#BDFCA9;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 69%;
}


.blue { background-color:#E0E0FF }