// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-checkout-box {
	background: #E8E0E8;
	margin: 0 auto;
	padding:10px;
}