// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-checkout-box {
	background: #E8E0E8;
	margin: 0 auto;
	padding:10px;
}

.project-sidebar {
	background-color: #FFF6D0;
	padding: 30px;
	border: 1px solid #E6D89D;
	border-radius: 4px;
	.donators-count {
		h1 { color: rgb(189, 159, 8) }
		color: rgb(134, 139, 15);
	}
	.elapsed {
		h1 { color: rgb(85, 97, 243) }
		color: rgb(75, 62, 214);
	}
	.collected {
		h1 { color: rgb(21, 134, 0) }
		color:rgb(22, 155, 17);
	}
}