.big-user-square {
	border-radius:9px;
	//border: 1px rgb(193, 240, 193) solid;
	background-color: white;
	padding: 20px;
}

.user-info-section {
	border-radius:9px;
	//border: 2px rgb(193, 240, 193) solid;
	padding: 20px;
	margin-bottom:20px;
	margin-top:20px;
}

.user-header-section {
	border-radius:9px;
	//border: 2px rgb(193, 240, 193) solid;
	padding: 20px;
	display: block;
	color: #888;
	h1 {
		display: inline;
		color: #444;
		text-align:center
	}
	.profile_image {
		//padding:15px;
		//background-color: #CCC;
		border-radius: 8px;
		float:right;
		margin-right: 60px;
		height: 150px;
		width: 150px;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		img {
			height: 100%;
			width: 100%;
		}
	}
}