<div style="background-color:#D9D9FA;border:1px solid #7B7BFA; border-radius:5px; padding:8px;">
<%= image_tag 'https://s3.amazonaws.com/Hopelauncher-Test/hopelauncher-icon.png', :style=>"width:400px; margin: 10px auto 10px auto; display:block;" %>

<%= yield %>

</div>